absl-py==1.2.0
appdirs==1.4.4
argcomplete==1.8.1
astunparse==1.6.3
atomicwrites==1.1.5
attrs==19.3.0
autobahn==17.10.1
Automat==0.8.0
beautifulsoup4==4.8.2
blinker==1.4
cachetools==5.2.0
catkin-pkg-modules==0.5.2
cbor==1.0.0
certifi==2022.6.15
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.1.0
Click==7.0
cmake==3.22.3
colcon-argcomplete==0.3.3
colcon-bash==0.4.2
colcon-cd==0.1.1
colcon-cmake==0.2.27
colcon-common-extensions==0.3.0
colcon-core==0.10.0
colcon-defaults==0.2.6
colcon-devtools==0.2.3
colcon-installed-package-information==0.1.0
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-notification==0.2.14
colcon-output==0.2.12
colcon-override-check==0.0.1
colcon-package-information==0.3.3
colcon-package-selection==0.2.10
colcon-parallel-executor==0.2.4
colcon-pkg-config==0.1.0
colcon-powershell==0.3.7
colcon-python-setup-py==0.2.7
colcon-recursive-crawl==0.2.1
colcon-ros==0.3.23
colcon-test-result==0.3.8
colcon-zsh==0.4.0
colorama==0.4.3
constantly==15.1.0
cov-core==1.15.0
coverage==4.5.2
cryptography==2.8
cupshelpers==1.0
cycler==0.10.0
Cython==0.29.32
dbus-python==1.2.16
defer==1.0.6
distlib==0.3.0
distro==1.7.0
distro-info===0.23ubuntu1
docutils==0.16
empy==3.3.2
entrypoints==0.3
flake8==3.7.9
flatbuffers==1.12
future==0.18.2
futures==3.0.5
gast==0.4.0
google-auth==2.9.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphsurgeon==0.4.6
grpcio==1.47.0
h5py==3.1.0
html5lib==1.0.1
httplib2==0.14.0
hyperlink==19.0.0
idna==3.3
ifcfg==0.18
importlib-metadata==4.12.0
incremental==16.10.1
joblib==1.2.0
keras==2.9.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==18.0.1
kiwisolver==1.0.1
language-selector==0.1
lark-parser==0.8.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
libclang==14.0.6
llvmlite==0.39.1
lxml==4.5.0
lz4==3.0.2+dfsg
macaroonbakery==1.3.1
Mako==1.2.1
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.1.2
mccabe==0.6.1
mediapipe==0.8.9.1
mock==3.0.5
more-itertools==4.2.0
mpi4py==3.0.3
netifaces==0.10.4
ninja==1.10.2.3
nose2==0.9.1
notify2==0.3
numba==0.56.3
numpy==1.23.1
oauthlib==3.2.0
olefile==0.46
onnx==1.12.0
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
opt-einsum==3.3.0
packaging==21.3
pandas==1.5.1
pbr==5.4.5
Pillow==9.2.0
platformdirs==2.5.2
pluggy==0.13.0
pocketsphinx==0.1.15
protobuf==3.19.4
psutil==5.5.1
py==1.8.1
py-ubjson==0.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pybind11==2.10.0
pycairo==1.16.2
pycodestyle==2.5.0
pycparser==2.21
pycuda==2022.1
pycups==1.9.73
pydocstyle==2.1.1
pydot==1.4.1
pyflakes==2.1.1
Pygments==2.3.1
PyGObject==3.36.0
PyHamcrest==1.9.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==3.0.9
pypng==0.0.20
PyQRCode==1.2.1
PyQt5==5.14.1
pyRFC3339==1.1
PySoundFile==0.9.0.post1
pytest==4.6.9
pytest-cov==2.8.1
python-apt==2.0.0+ubuntu0.20.4.8
python-dateutil==2.8.2
python-snappy==0.5.3
pytools==2022.1.12
PyTrie==0.2
pyttsx3==2.90
pytz==2022.5
PyYAML==5.3.1
requests==2.28.1
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
roman==2.0.0
rosdep==0.22.1
rosdep-modules==0.22.1
rosdistro-modules==0.9.0
rospkg-modules==1.4.0
rsa==4.9
scikit-build==0.15.0
scikit-learn==1.1.2
scipy==1.9.3
SecretStorage==2.3.1
service-identity==18.1.0
simplejson==3.16.0
sip==4.19.21
six==1.16.0
snowballstemmer==2.0.0
soupsieve==1.9.5
SpeechRecognition==3.8.1
systemd-python==234
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1+nv22.6
tensorflow-estimator==2.9.0
tensorrt==8.4.1.5
termcolor==1.1.0
threadpoolctl==3.1.0
torch==1.11.0
torchaudio==0.11.0+820b383
torchvision==0.12.0a0+9b5a3fe
tqdm==4.64.1
Twisted==18.9.0
txaio==2.10.0
typing_extensions==4.3.0
u-msgpack-python==2.1
uff==0.6.9
unattended-upgrades==0.1
urllib3==1.26.11
wadllib==1.3.3
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==2.2.1
wrapt==1.14.1
wsaccel==0.6.2
zipp==3.8.1
zope.interface==4.7.1
