torch==1.11.0
torchvision==0.12.0
torchaudio==0.11.0
tensorFlow==2.9.1
Tensorboard==2.9.1
Tqdm
Requests
PyYAML
numpy
opencv_python
Pandas
mediapipe
Pybind11
pyserial
py_trees
SpeechRecognition==3.8.1
pocketsphinx==0.1.15
Pyaudio==0.2.11